{% extends '_base.html' %} {% block title %} {{ post.title }} {% endblock %} 
{% block content %}
<main>
    <article>
        <section class="section hero" aria-label="home">
            <div class="container">
      
              <h1 class="h1 hero-title">
                {{ post.title }}
              </h1>
      
              <div class="wrapper">
      
                <form action="" class="newsletter-form">
                  <input type="email" name="email_address" placeholder="Your email address" class="email-field">
      
                  <button type="submit" class="btn">Subscribe</button>
                </form>
      
                <p class="newsletter-text">
                  Get the email newsletter and unlock access to members-only content and updates
                </p>
      
              </div>
      
            </div>
          </section>
<section class="section featured" aria-label="featured post">
    <div class="container">

      <p class="section-subtitle">
        See the blogs by <strong class="strong">Brands </strong>
      </p>

      <ul class="has-scrollbar">
       
        <li class="scrollbar-item">
          <div class="blog-card">
           

            <div class="card-content">

              <ul class="card-meta-list">
                {% for post in brands.posts.all %}
                <li>
                  <a href="{% url 'post_detail'  post.creators.slug post.slug %}" class="card-tag">{{ post.brands }}</a>
                
                <small>{{ post.created_at |date:'M-d-y H:i'}}</small>
                  <h3 class="h4">
                   
                    <a href="{% url 'post_detail' post.creators.slug post.slug %}" class="card-title hover:underline">
                      {{ post.title }}
                    </a>
                  </h3>
                  <a href="{% url 'post_detail' post.creators.slug post.slug %}" >
                  <p class="card-text">
                    {{ post.intro }}
                  </p>
                  </a>
                </li>
                {% endfor %}
              </ul>
             

            </div>

          </div>
        </li>
        
      </ul>
    </div>
</section>

</article>
</main>
{% endblock %}